<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
	    @page {
	    	margin:35px;
	    }
	</style>
</head>
<body>
<h1>Reporte de Mail - {{ start_date }} / {{ end_date }}</h1>
<table>
<thead>
	<th>Fuente</th>
	<th>Pagina de llegada</th>
	<th>Sesiones</th>
	<th>Porcentaje de rebote</th>
	<th>Duracion (m:s)</th>
</thead>
{% for campaign, landing, value, bounce, duration in data %}
        <tr>
        	<td width="500px">{{ campaign|truncate(55) }}</td>
        	<td width="270px">{{ landing|truncate(35) }}</td>
        	<td width="150px" style="text-align:center;">{{ value }}</td>
        	<td width="150px" style="text-align:center;">{{ bounce|int }}%</td>
        	<td width="150px" style="text-align:center;">{{ duration }}</td>
        </tr>
{% endfor %} 
</table>

<h1>Total de sesiones: {{ total }}</h1>
</body>
</html>